<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<title>Booking Detail</title>

<body class="d-flex flex-column" xmlns:th="http://www.w3.org/1999/xhtml">
<section layout:fragment="body">
  <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder">Your Booking</h1>
      </div>
    </div>
  </header>
  <div class="container">
      <div class="col-lg-6 m-auto">
        <div class="card mb-4">
          <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
          <div class="card-body">
            <p class="m-0 px-3">Created on</p>
            <h6 class="small text-muted" th:text="${#temporals.format(booking.createdOn, 'dd-MM-yyyy')}"></h6>
            <p class="m-0 px-3">Check In</p>
            <h3 class="card-title" th:text="${#temporals.format(booking.startTime, 'dd-MM-yyyy HH:mm')}"></h3>
            <p class="m-0 px-3">Check Out</p>
            <h3 class="card-title" th:text="${#temporals.format(booking.endTime, 'dd-MM-yyyy HH:mm')}"></h3>
            <p class="m-0 px-3">Price</p>
            <h3 th:text="'$' + ${#numbers.formatDecimal(booking.price, 0, 'COMMA', 2, 'POINT')}"></h3>
            <div th:if="${user.id == booking.user.id or role.name == 'ADMIN'}">
              <a class="btn btn-danger" th:href="@{/bookings/{bookingId}/delete(bookingId=${bookingId})}">Delete</a>
              <a class="btn btn-primary" th:href="@{/bookings}">Go back</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
</body>
</html>