<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<title>User List</title>

<body class="d-flex flex-column h-100" xmlns:th="http://www.w3.org/1999/xhtml">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Our Users</h1>
                <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
            </div>
            <div class="row gx-5">
                <div>
                    <form th:action="@{/users/search}" class="form-inline my-2 my-lg-0 mb-3">
                        <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search users" aria-label="Search">
                    </form>
                </div>
                <div class="card text-center my-3">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">User ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Total bookings</th>
                            <th scope="col">User since</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user :${users}">
                            <th scope="row" th:text="${user.id}"></th>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:each="role :${user.roles}" th:text="${role.name}" class="fw-semibold"></td>
                            <td th:text="${#lists.size(user.bookingDtoList)}"></td>
                            <td th:text="${user.createdOn}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/users/{userId}(userId=${user.id})}">View</a>
                                <a class="btn btn-primary" th:href="@{/users/{userId}/edit(userId=${user.id})}">Edit</a>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
</body>
</html>